<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dong.music.mapper.SongListMapper" >
    <resultMap id="ListResultMap" type="com.dong.music.beans.SongListBean" >
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="u_id" property="u_id" />
    </resultMap>
    <select id="findSongListByUserId" parameterType="int" resultMap="ListResultMap">
        SELECT ul.id,ul.name,ul.u_id FROM user_list as ul where ul.u_id=#{userName}
    </select>

</mapper>